@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;

  /* Background color of the page */
  /* --background-color: #f1f5f9; */

  /* Color of the text/words */
  --text-color: #070a13;

  /* Main color of your brand */
  --color-primary: #070a13;
}

@layer base {
  @font-face {
    font-family: "Mokoto";
    font-weight: normal;
    font-style: normal;
    src: url("/src/fonts/mokoto-mokoto-regular-400.otf") format("otf");
  }

  body {
    @apply bg-neutral-200 text-zinc-950;
  }

  h1 {
    font-family: Mokoto;
  }
}
